<ul class="list-group">
  <!-- <li class="list-group-item">
    {{ pets[0] }}<br />
    <app-pet-alerts [pet]="pets[0]"></app-pet-alerts>
  </li>
  <li class="list-group-item">
    {{ pets[1] }}<br />
    <app-pet-alerts [pet]="pets[1]"></app-pet-alerts>
  </li>
  <li class="list-group-item">
    {{ pets[2] }}<br />
    <app-pet-alerts [pet]="pets[2]"></app-pet-alerts>
  </li>
  <li class="list-group-item">
    {{ pets[3] }}<br />
    <app-pet-alerts [pet]="pets[3]"></app-pet-alerts>
  </li>
  <li class="list-group-item">
    {{ pets[4] }}<br />
    <app-pet-alerts [pet]="pets[4]"></app-pet-alerts>
  </li> -->
  <li class="list-group-item d-flex" *ngFor="let pet of pets">
    <div style="width: 150px">
      <img src="./assets/img/icon_logo.png" width="60px" />
      {{ pet.name }}
    </div>
    <div class="ml-2">
      <app-pet-alerts [pet]="pet.name"></app-pet-alerts>
    </div>
  </li>
</ul>
<app-pet-add></app-pet-add>
<button class="btn btn-primary" type="button" (click)="addPets()">
  Agregar
</button>
